{% extends 'layouts/default.njk' %}

{% block body %}
<div class="wrapper">
  <div class="container">
    <h1>Prepóstero!</h1>
    <h2>Não encontramos o que você procurava...</h2>
    <a href="/">Volte à página inicial</a>
  </div>
</div>
{% endblock %}
