{% extends 'layouts/default.njk' %}

{% block body %}
<div class="wrapper">
  <div class="container">
    <h1>A wild error appears: {{message}}</h1>
    <h2>{{error.status}}</h2>
    <pre>{{error.stack}}</pre>
  </div>
</div>
{% endblock %}
